// UIE variables

// colors
$main_highlight_color:	#f17a2f;	// ui22 #d45113

$standard-landing-radius: 4px;
$stage-padding: 1.5em;
$stage-padding-small: 1em;

$standard-card-padding: 1.5em;

//UIE's Red Brand Color : Header background
$uie_main_red_color: #951a1d;

//Lighter Red Color : Buttons Mostly
$uie_sub_red_color: #aa3033;

//Cyan Blue color : for some links and Product Titles
$uie_cyan_color: #3BA7C9;

$card-stage-width: 870px;
